div{
    background-color: blueviolet;
    /* position: relative; */
}

.box1{
    position: absolute;
    width: 25%;
    display: inline-block;
}

.box2{
    position:absolute;
    left: 400px;
    width: 25%;  
    display: inline-block;
}

.box3{
    position: absolute;
    left :800px;
    width: 40%;
    display: inline-block;
}