td{
    background-color: aquamarine;
    border: 10px solid white;
    padding: 10px;
   
    
}
.col1{
    width: 350px;
    
}

.col2{
    width: 350px;
 
   
}

.col3{
   
    width: 600px;
    
}